node_modules/
vendor/
.env
logs/
backups/
credentials/
.docs/
cache/queries/*.cache
composer
mail/*.eml
_dev/manage_orders.png
_dev/manage_orders_mobile.png
_dev/docker/Screenshot*
_dev/test-results/
uploads/product_bulk_*.png
uploads/app-release.apk
